body{
    text-align: center;
    padding: 2em;
    overflow: hidden;
}

.harryFont {
    font-family: "Harry Potter";
}

.magicFont {
    font-family: "Magic";
}

@font-face {
    font-family: "Harry Potter";
    src: 
    url("fonts/harrypotter/parryhotter-webfont.woff") format("woff")
}

@font-face {
    font-family: "Magic";
    src: url("fonts/magicschool/magicschoolone-webfont.woff") format("woff")
}

.invisible-hint::selection {
    color: red;
}

#backgroundImagePaper {
    background-image: url("pictures/modern-aged-paper-5.jpg");
    background-size: cover;
}

#backgroundImageHagrid {
    background-image: url("pictures/eb7cf624554ac9b4a78295a20b3f42db.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#backgroundImageNisser {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("pictures/julenisse/nisserFerdig.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#backgroundImageTrelawney {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("pictures/trelawney.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#backgroundImageFireworks {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("pictures/fireworks.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#backgroundImageVoldemort {
    background-image: url("pictures/voldemort.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.whiteBackground {
    background-color: white;
}

.blackBackground {
    background-color: black;
}

.whiteText {
    color: white;
}

.yellowText {
    color: darksalmon;
}

.margin4 {
    margin: 4em;
}

#beger {
    position: fixed;
    bottom: 0;
    left: 0;
}

#lumos {
    filter: brightness(50%);
}